<h1>Nearby Points of Interest:</h1>
<ol class="list-disc">
  <% conversation.locations.last.nearby_points_of_interest.each do |poi| %>
    <li><%= poi %></li>
  <% end %>
</ol>
<p>list generated: <%= Time.zone.now %></p>
